body
{    
    background-image:url('../img/background.png')
}
div{
    margin-top: 10px;
    background-color:white;
    border-radius: 25px;
}

.jumbotron{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height:500px;
    background-image:url('../img/Basic-Shortcrust-pastry.jpg');
    color:white;

}


